html,body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 20px;
    font-family: "Clear Sans","Helvetica Neue",Arial,sans-serif;
}

body {
    padding-top: 12px;
    color:#776e65;
    background: #faf8ef;
}
header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    width: 25rem;
    margin: 1.5rem auto;
}
.container {
    margin: 0 auto;
}
.score {
    background: #bbada0;
    color: #fff;
    padding: .4rem 1.2rem;
    font-weight: bold;
    text-align: center;
    border-radius: 6px;
    display: inline-block;
}
.score::before {
    content: '分数';
    display:block;
    font-weight: bold;
    color: #ede0c8;
}
.history-score::before {
    content: '最高分数';
    display:block;
    font-weight: bold;
    color: #ede0c8;
}
/* 重来按钮 */
.again-btn {
    width: 7rem;
    height: 4rem;
    border: none;
    background: #8f7a66;
    border-radius: 3px;
    color: #fff;
    font-size: 30px;
    display: block;
    margin: 2rem auto;
}

.game-wrap {
    width: 25rem;
    height: 25rem;
    border-radius: 8px;
    background-color: rgb(187,173,160);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 auto;
}
/* 棋盘 */
.grid {
    width: 23rem;
    height: 23rem;
    position: relative;
}
.grid-row {
    height: 5rem;
    margin-bottom: 1rem;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.grid-cell {
    width: 5rem;
    height: 5rem;
    background-color: rgb(205,192,180);
    border-radius: 4px;    
}
.grid-cell:last-of-type {
    margin-right: 0;
}
/* 棋子  */
.piece-wrap {
    position: absolute;
    width: 23rem;
    height: 23rem;
    left: 50%;
    top: 50%;
    margin-left: -11.5rem;
    margin-top: -11.5rem;
    
}
.piece {
    width: 5rem;
    height: 5rem;    
    border-radius: 4px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 38px;
    font-weight: bold;
    color: #f9f6f2;    
}

/* 棋子出现动画 */
.new-piece {
    animation: enlarge .3s 1;
    -webkit-animation: enlarge .3s 1;
    transition-timing-function: cubic-bezier(.6, -0.1, 1, -0.18);
    -webkit-transition-timing-function: cubic-bezier(.6, -0.1, 1, -0.18);
}
@keyframes enlarge {
    0% {
        transform:scale(0.6);
    }
    100% {
        transform:scale(1);
    }
}
@-webkit-keyframes enlarge {
    0% {
        transform:scale(0.6);
    }
    100% {
        transform:scale(1);
    }
}
/* 棋子合并动画 */
.merge-piece {
    animation: shrink .6s 1;
    -webkit-animation: shrink .6s 1;
    transition-timing-function: cubic-bezier(.6, -0.1, 1, -0.18);
    -webkit-transition-timing-function: cubic-bezier(.6, -0.1, 1, -0.18);
}
@keyframes shrink {
    0% {
        transform:scale(1);
    }
    30% {
        transform:scale(1.18);
    }
    100% {
        transform:scale(1);
    }
}
@-webkit-keyframes shrink {
    0% {
        transform:scale(1);
    }
    30% {
        transform: scale(1.18);
    }
    100% {
        transform:scale(1);
    }
}
/* 结束画面 */
.end-wrap {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
    background: rgba(238, 228, 218, 0.5);
    animation: fade-in 800ms ease 1200ms;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 36px;
}
@-moz-keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
/* 各种棋子颜色 */
.piece-2 {
    color: rgb(119, 110, 101);
    background-color: #eee4da;
}
.piece-4 {
    color: rgb(119, 110, 101);
    background-color: #ede0c8;
}
.piece-8 {
    background: #f2b179;
}
.piece-16 {
    background: #f59563;
}
.piece-32 {
    background: #f67c5f;
}
.piece-64 {
    background: #f65e3b;
}
.piece-128 {
    background: #edcf72;
}
.piece-256 {
    background: #edcc61;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.31746),
    inset 0 0 0 1px rgba(255, 255, 255, 0.19048);
}
.piece-512 {
    background: #edc850;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.39683), inset 0 0 0 1px rgba(255, 255, 255, 0.2381);
 
}
.piece-1024 {
    background: #edc53f;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.47619),
    inset 0 0 0 1px rgba(255, 255, 255, 0.28571);
 
}
.piece-2048 {
    background: #edc22e;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.55556), inset 0 0 0 1px rgba(255, 255, 255, 0.33333);
 
}
/* 移动端适配 */
@media screen and (max-width:480px) {
    html {
        font-size: 10px;
    }
    body {
        margin-top: 40px;
    }
    h1 {
        font-size: 2rem;
        
    }
    .score {
        font-size: 14px;
        padding: .2rem .8rem;
    }
    .piece {
        font-size: 22px;
    }
    .again {
        font-size: 16px;
    }
}