html,body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.container {
    width: 600px;
    margin: 0 auto;
    position: relative;
}
.game-wrap {
    width: 500px;
    height: 500px;
    border-radius: 8px;
    background-color: rgb(187,173,160);
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 棋盘 */
.grid {
    width: 460px;
    height: 460px;
    position: relative;
}
.grid-row {
    height: 100px;
    margin-bottom: 20px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.grid-cell {
    /* display: inline-block; */
    width: 100px;
    height: 100px;
    /* margin-right: 20px; */
    background-color: rgb(205,192,180);
    border-radius: 4px;    
}
.grid-cell:last-of-type {
    margin-right: 0;
}
/* 棋子  */
.piece {
    width: 100px;
    height: 100px;    
    border-radius: 4px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 38px;
    font-weight: bold;
    color: rgb(119, 110, 101);
    animation: fadeIn .3s 1;
    -webkit-animation: fadeIn .3s 1;
    transition-timing-function: cubic-bezier(.6, -0.1, 1, -0.18);
    -webkit-transition-timing-function: cubic-bezier(.6, -0.1, 1, -0.18);
}
/* 棋子出现动画 */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform:scale(0.4);
    }
    100% {
        opacity: 1;
        transform:scale(1);
    }
}
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
        transform:scale(0.4);
    }
    100% {
        opacity: 1;
        transform:scale(1);
    }
}
/* 各种棋子颜色 */
.piece-2 {
    color: rgb(119, 110, 101);
    background-color: #eee4da;
}
.piece-4 {
    color: rgb(119, 110, 101);
    background-color: #ede0c8;
}
.piece-8 {
    color: #f9f6f2;
    background: #f2b179;
}
.piece-16 {
    color: #f9f6f2;
    background: #f59563;
}
.piece-32 {
    color: #f9f6f2;
    background: #f67c5f;
}
.piece-64 {
    color: #f9f6f2;
    background: #f65e3b;
}
.piece-128 {
    color: #f9f6f2;
    background: #edcf72;
}
.piece-256 {
    color: #f9f6f2;
    background: #edcc61;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.31746),
    inset 0 0 0 1px rgba(255, 255, 255, 0.19048);
}
.piece-512 {
    color: #f9f6f2;
    background: #edc850;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.39683), inset 0 0 0 1px rgba(255, 255, 255, 0.2381);
 
}